<div ng-controller="IngresoController">
  <md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="new()" class="md-icon-button md-primary md-hue-1" aria-label="add">
    <md-tooltip md-autohide>Nuevo</md-tooltip>
    <md-icon md-svg-icon="icons/ic_add_24px.svg"></md-icon>
    </md-button>
    <md-button ng-click="listAll(page,options.count)" class="md-icon-button md-primary md-hue-1" aria-label="listar todo">
    <md-tooltip md-autohide>Listar todo</md-tooltip>
    <md-icon md-svg-icon="icons/ic_reorder_24px.svg"></md-icon> 
    </md-button>
    <span flex></span>
    <p><input placeholder="Buscar" type="text" ng-model="test"></p>
  </div>
  </md-toolbar>

  <div layout="row" flex >
  <table mi-table style="width:100%">
    <thead>
      <tr>
        <td>#</td>
        <td>ALMACEN</td>
        <td>PROVEEDOR</td>
        <td>PRODUCTO</td>
        <td>FECHA-INGRESO</td>
        <td>FECHA-VENCIMIENTO</td>
        <td>TIPO-COMPROBANTE</td>
        <td>PRECIO-COMPRA</td>
        <td>STOCK-INICIAL</td>
        <td>STOCK-ACTUAL</td>
        <td>ESTADO</td>
        <td>edite</td>
        <td>delete</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="d in d_list | orderBy:'id' | filter : test">
        <td>{{ d.id }}</td>
        <td>{{ d.almacen_str }}</td><!--variable serializer-->
        <td>{{ d.proveedor_str }}</td><!--variable serializer-->
        <td>{{ d.producto_def }}</td><!--variable serializer-->
        <td>{{ d.fecha_ingreso }}</td>
        <td>{{ d.fecha_vencimiento }}</td>
        <td>{{ d.tipocomprobante }}</td>
        <td>{{ d.precio_compra }}</td>
        <td>{{ d.stock_inicial }}</td>
        <td>{{ d.stock_actual }}</td>
        <td>{{ d.estado }}</td>
        <td> <a href="" ng-click="get(d)">Edit</a></td>
        <td> <a href="" ng-click="delete(d)">Del</a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
      </tr>
    </tfoot>
  </table>
  </div>
</div>
