<div ng-controller="ProductoController">
  <md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="new()" class="md-icon-button md-primary md-hue-1" aria-label="add">
    <md-tooltip md-autohide>Nuevo</md-tooltip>
    <md-icon md-svg-icon="icons/ic_add_24px.svg"></md-icon>
    </md-button>
    <md-button ng-click="listAll(page,options.count)" class="md-icon-button md-primary md-hue-1" aria-label="listar todo">
    <md-tooltip md-autohide>Listar todo</md-tooltip>
    <md-icon md-svg-icon="icons/ic_reorder_24px.svg"></md-icon> 
    </md-button>
    <span flex></span>
    <p><input placeholder="Buscar" type="text" ng-model="test"></p>
  </div>
  </md-toolbar>

  <div layout="row" flex >
	<table mi-table style="width:100%">
    <thead>
      <tr>
        <td>#</td>
  			<td>CATEGORIA</td>
        <td>NOMBRE</td>
        <td>UNIDAD-MEDIDA</td>
        <td>DESCRIPCION</td>
        <td>edite</td>
        <td>delete</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="d in d_list | orderBy:'id' | filter : test">
        <td>{{ d.id }}</td>
        <td>{{ d.categoria_fk }}</td><!--variable serializer-->
        <td>{{ d.nombre_producto }}</td>
        <td>{{ d.unidad_medida }}</td>
        <td>{{ d.descripcion_producto }}</td>
  			<td> <a href="" ng-click="get(d)">Edit</a></td>
  			<td> <a href="" ng-click="delete(d)">Del</a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
      </tr>
    </tfoot>
  </table>
  </div>
</div>