<md-dialog aria-label="Form">
<form name='myform'>
	<md-dialog-content>
	<md-content layout-padding>
	<h3>registro {{almacen.id}}</h3>
	<div>
		<md-input-container flex><label>Nombre :</label><input ng-model="almacen.nombre_almacen" required>
		</md-input-container>

		<md-input-container flex><label>Direccion :</label><input ng-model="almacen.direccion_almacen" required></md-input-container>

		<md-input-container flex><label>Telefono :</label><input ng-model="almacen.telefono_almacen" required>
		</md-input-container>
	</div>
	</md-content>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<span flex></span>
		<md-button type="reset" ng-click="cancel()">cancelar</md-button>
		<md-button type="submit"  ng-click="save()" ng-disabled="!myform.$valid">guardar</md-button>
	</div>
</form>
</md-dialog>
